<%= form_for(@transaction) do |f| %>
	<%= render "shared/error_messages", object: f.object %>

	<%= f.label :amount %>
	<%= f.number_field :value, value: number_to_currency(f.object.value.to_f, delimiter: '', unit: ''), step: :any, class: "form-control" %>

	<%= f.label :description %>
	<%= f.text_field :description, class: "form-control", placeholder: "Description" %>

	<%= f.label :date %>
	<%= f.date_field :event_date, class: "form-control" %>

	<%= f.label :category %>
	<%= f.collection_select :category_id, @categories, :id, :name, { include_blank: false}, { class: "form-control"} %>

	<div>
		<%= f.submit "Add transaction", class: 'btn btn-primary' %>
	</div>
<% end %>