<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :transaction_description %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date, id: :transaction_event_date %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id, id: :transaction_category_id %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :transaction_user %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
