<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<!-- Render menu -->
  	<%= render 'layouts/menu' %>


	<!-- Render flash alerts -->
	<% if flash.any? %>
	  	<div class="container">
			<% flash.each do |key, value| %>

				<div class="alert alert-<%= key %> alert-dismissible show" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  <%= value %>
				</div>

			<% end %>
		</div>
	<% end %>

	<!-- Main content -->
    <div class="container">
    	<%= yield %>
    </div>
    <footer  class="footer container">
		<%= render "layouts/footer" %>
    </footer>
  </body>
</html>
